<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>Shut up JP</title>
    <link>https://shutup.jp/</link>
    <description>A collection of postcards sent to me by my friend, Claire, inviting me to 'shut up' from many places and in many languages over many years.</description>
    <language>en-GB</language>
    <managingEditor>hello@shutup.jp (JP Hastings-Spital)</managingEditor>
    <webMaster>hello@shutup.jp (JP Hastings-Spital)</webMaster>
    <copyright>CC BY-NC-SA 4.0</copyright>
    <lastBuildDate>{{ now.Format "Mon, 02 Jan 2006 15:04:05 -0700" }}</lastBuildDate>
    <atom:link href="https://shutup.jp/feed.xml" rel="self" type="application/rss+xml" />
    {{ range . }}
    <item>
      <title>{{ with .Location }}{{ .Name }}{{ end }}{{ with .SentOn }} ({{ .Format "January 2, 2006" }}){{ end }}</title>
      <link>https://shutup.jp/#{{ .Name }}</link>
      <pubDate>{{ with .SentOn }}{{ .Format "Mon, 02 Jan 2006 15:04:05 -0700" }}{{ end }}</pubDate>
      <guid isPermaLink="false">{{ .Name }}</guid>
      <description>{{- .Back.Transcription | safeHTML -}}</description>
      <content:encoded>
        <![CDATA[
          <img src="https://shutup.jp/{{.Name}}.webp" />
          <p>Another delightfully curt postcard I received from Claire on {{ with .SentOn }}{{ .Format "January 1, 2006" }}{{ end }}. It reads:</p>
          <pre>{{- .Back.Transcription | safeHTML -}}</pre>
        ]]>
      </content:encoded>
      <enclosure url="https://shutup.jp/{{.Name}}.webp" type="image/webp" length="{{ .ImgSize }}"/>
    </item>
    {{ end }}
  </channel>
</rss>
