<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>Shut up JP</title>
    <link>https://shutup.jp/</link>
    <description>A collection of postcards sent to me by my friend, Claire, inviting me to 'shut up' from many places and in many languages over many years.</description>
    <language>en-GB</language>
    <managingEditor>hello@shutup.jp (JP Hastings-Spital)</managingEditor>
    <webMaster>hello@shutup.jp (JP Hastings-Spital)</webMaster>
    <copyright>CC BY-NC-SA 4.0</copyright>
    <lastBuildDate>{{ now.Format "Mon, 02 Jan 2006 15:04:05 -0700" }}</lastBuildDate>
    <atom:link href="https://shutup.jp/feed.xml" rel="self" type="application/rss+xml" />
    {{- $sizes := .Sizes -}}
    {{ range .Postcards }}
    <item>
      <title>{{ with .Meta.Location }}{{ .Name }}{{ end }}{{ with .Meta.SentOn }} ({{ .Format "January 2, 2006" }}){{ end }}</title>
      <link>https://shutup.jp/#{{ .Name }}</link>
      <pubDate>{{ with .Meta.SentOn }}{{ .Format "Mon, 02 Jan 2006 15:04:05 -0700" }}{{ end }}</pubDate>
      <guid isPermaLink="false">{{ .Name }}</guid>
      <description>{{- .Meta.Back.Transcription.Text | htmlEscape -}}</description>
      <content:encoded>
        <![CDATA[
          <img src="https://shutup.jp/{{.Name}}-front.webp" alt="{{ .Meta.Front.Description | htmlEscape }}”" />
          <img src="https://shutup.jp/{{.Name}}-back.webp" alt="{{ .Meta.Back.Description | htmlEscape }}”" />
          <p>{{- .Meta.Back.Transcription.Text -}}</p>
        ]]>
      </content:encoded>
      <enclosure url="https://shutup.jp/{{.Name}}-front.webp" type="image/webp" length="{{ index $sizes (printf "%s-front.webp" .Name) }}"/>
      <enclosure url="https://shutup.jp/{{.Name}}-back.webp" type="image/webp" length="{{ index $sizes (printf "%s-back.webp" .Name) }}"/>
    </item>
    {{ end }}
  </channel>
</rss>
