<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Shut up, JP</title>
        <meta name="description" content="A collection of postcards sent to me by my friend, Claire, inviting me to 'shut up' from many places and in many languages over many years.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="postcards,art,insults,language,microsite">
        <meta property="og:image" content="/socials.jpg"  />
        <link rel="author" href="https://www.byjp.me">
        <link rel="canonical" href="https://shutup.jp">
        <link rel="stylesheet" href="postcard.css">
        <link rel="stylesheet" href="shutup.css">
        <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="Shut up JP">
    </head>
    <body>
      <section class="explain">
        <p>One day, after months of silence, my friend <a href="https://www.instagram.com/claire.durrant88/">Claire</a> sent me a text message of only 3 words:</p>
        <h1>Shut up JP</h1>
        <p>Knowing my <a href="https://www.byjp.me/posts/thoughts-on-postcards/" target="_blank">love of postcards</a>, she started sending me this invaluable advice by mail too – from every country she visited, and in every language the friendly (and presumably deeply confused) locals help her write in.</p>
        <p>It's just shy of a decade later and, apparently, I've <em>still</em> not got the message.</p>
        <cite><a target="_blank" href="https://www.byjp.me">JP</a></cite>
      </section>

      {{ range . }}
      <figure>
        <input type="checkbox" id="{{.Name}}">
        <label for="{{.Name}}">
          <div class="postcard {{ .Flip }} {{ if gt .FrontDimensions.PxHeight .FrontDimensions.PxWidth }}portrait{{ else }}landscape{{ end }}" style="--postcard: url('{{ .Name }}.webp'); --aspect-ratio: {{ .FrontDimensions.PxWidth }} / {{ .FrontDimensions.PxHeight }}">
            <img src="{{ .Name }}.webp" loading="lazy" alt="{{ .Front.Description }}" width="500px">
            <div class="shadow"></div>
          </div>
        </label>
        
        <figcaption>
          <div class="title">{{ with .Location }}<span>{{ .Name }}</span>{{ end }}{{ with .SentOn }} <time datetime="{{ . }}">{{ .Format "January 2, 2006" }}</time>{{ end }}</div>
          <div class="transcription">{{- .Back.Transcription | safeHTML -}}</div>
        </figcaption>
      </figure>
      {{ end }}   

      <section class="explain">Shut up Claire.</section>
    </body>
</html>