<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Postcard demo</title>
        <meta name="description" content="Demo of new postcard shape">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="postcard.css">
        <link rel="stylesheet" href="shutup.css">
    </head>
    <body>
      <section class="explain">
        <hgroup>
          <h1>"Shut up JP"</h1>
        </hgroup>

        <p>One day, after months of silence, my friend <a href="">Claire</a> sent me a text message with only 3 words in it &ldquo;<strong>Shut up, JP.</strong>&rdquo; Not long afterwards I started receiving this advice by mail as well, from every country she visited and in every language she could convince friendly, and presumably confused, strangers to help her write in.</p>
      </section>

      {{ range . }}
      <figure>
        <input type="checkbox" id="flip-{{.Name}}">
        <label for="flip-{{.Name}}">
          <div class="postcard {{ .Flip }} {{ if gt .FrontDimensions.PxHeight .FrontDimensions.PxWidth }}portrait{{ else }}landscape{{ end }}" style="--postcard: url('{{ .Name }}.webp'); --aspect-ratio: {{ .FrontDimensions.PxWidth }} / {{ .FrontDimensions.PxHeight }}">
            <img src="{{ .Name }}.webp" loading="lazy" alt="{{ .Front.Description }}" width="500px">
            <div></div>
          </div>
        </label>
        
        <!--<figcaption style="--map: url(seattle.svg)">-->
        <figcaption>
          {{- .Back.Transcription | safeHTML -}}
          {{ with .SentOn }}<time datetime="{{ . }}">{{ .Format "2 Jan, 2006" }}</time>{{ end }}
        </figcaption>
      </figure>
      {{ end }}

      <section class="explain">How fun is this??</section>
    </body>
</html>