:root {
  --front: #222;
  --muted: #000;
  --back: #f7f7f7;

  @media (prefers-color-scheme: dark) {
    --front: #ddd;
    --muted: #999;
    --back: #222;
  }

  --row-padding: 8;
  --row-height: calc(50 - var(--row-padding));
}

a {
  color: var(--muted);
}

a:hover {
  color: var(--front);
}

html,body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  scroll-snap-type: y mandatory;
  scroll-padding: calc(var(--row-padding) * 1vh);

  background-color: var(--back);
  color: var(--front);
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
  padding: 0;
}
p {
  min-width: 350px;
  width: 45vw;
}
section, figure {
  height: calc(var(--row-height) * 1vh);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  scroll-snap-align: start;
  padding: 0 10vh;
}
figcaption {
  height: 45%;
  width: 40%;
  margin: 5%;
}
section.explain {
  height: 50vh;
  flex-direction: column;
}
p {
  text-align:justify;
}
.postcard {
  height: 90%;
  aspect-ratio:1/1;
  --flip: calc(
    (
      (var(--scroll) - var(--yPos)) * 50/(var(--viewportY) * var(--row-height))
      + (var(--row-padding) / (2 * var(--row-height)))
      + 0.75
    ) * 360deg);
}
