:root {
  --text-color: #222;
  --mute-color: #777;
  --back-color: #f7f7f7;
  --bg: url('bg-light.png');

  @media (prefers-color-scheme: dark) {
    --text-color: #ddd;
    --mute-color: #777;
    --back-color: #222;
    --bg: url('bg-dark.png');
  }
}

a {
  color: var(--mute-color);
}

a:hover {
  color: var(--text-color);
}

html,body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-snap-type: y mandatory;
  scroll-padding: 0;
}

body {
  background-color: var(--back-color);
  color: var(--text-color);
  background-image: var(--bg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position-y: calc(-0.17px * var(--scroll));
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem;
  padding: 0;
}
section, figure {
  height: calc(100vh - 2em);
  padding: 1em;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  flex-direction: row;
}

figcaption {
  min-width: 25vw;
  position: relative;
  text-align: right;
  margin: 1em;
  position: relative;
  height: 50vh;
  text-wrap: balance;
}

figcaption > * {
  width: 100%;
  transition: opacity 500ms ease-in-out 0ms;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

figcaption .title {
  transition-delay: 500ms;
  font-size: 1.5em;
  font-weight: bold;
}

.title time {
  font-style: italic;
  font-size: 0.65em;
  font-weight: normal;
}

.title * {
  display: block;
  margin-bottom: 0.5em;
}

figcaption .transcription {
  opacity: 0;
  white-space: pre;
  text-wrap: balance;
  font-size: 1.2em;
}

@media (orientation: portrait)  {
  figure {
    flex-direction: column;
  }

  figcaption {
    min-height: 25vh;
    text-align: center;
    width: 50vw;
    margin: 2em 0;
  }

  figcaption > * {
    top: 0;
    transform: none;
  }
}

section.explain {
  display: grid;
	place-content: center;
  padding-inline: calc(max((100vw - 500px)/2, 2em));
}

p {
  text-align:justify;
}
cite {
  text-align: right;
}
cite::before {
  content: '–';
  margin-right: 0.25em;
}

.postcard {
  max-width: 90vw;
  max-height: 75vh;
  aspect-ratio:1/1;
  --flip: 0deg;
  margin-inline: auto;
}

label {
  display:block;
  width: 100%;
  cursor: pointer;
}

input {
  display: inline;
  width: 0;
  height: 0;
  overflow:hidden;
}

input:checked ~ label .postcard  {
  --flip: 180deg;
}

input:checked ~ figcaption .transcription {
  opacity: 1;
  transition-delay: 500ms;
}

input:checked ~ figcaption .title {
  opacity: 0;
  transition-delay: 0s;
}

.postcard::before,.postcard::after {
  transition: transform 1s ease-in-out;
}

[lang]::after { margin-left: 0.5em }
[lang="ar-MA"]::after { content: '🇲🇦' }
[lang="cy-GB"]::after { content: '🏴󠁧󠁢󠁷󠁬󠁳󠁿' }
[lang="de-DE"]::after { content: '🇩🇪' }
[lang="el-GR"]::after { content: '🇬🇷' }
[lang="en-CA"]::after { content: '🇨🇦' }
[lang="en-GB"]::after { content: '🇬🇧' }
[lang="en-SG"]::after { content: '🇸🇬/🇬🇧' }
[lang="en-US"]::after { content: '🇺🇸' }
[lang="es-ES"]::after { content: '🇪🇸' }
[lang="es-GT"]::after { content: '🇬🇹' }
[lang="fr-FR"]::after { content: '🇫🇷' }
[lang="fr-IM"]::after { content: '🇮🇲/🇫🇷' }
[lang="gd-GB"]::after { content: '🏴󠁧󠁢󠁳󠁣󠁴󠁿' }
[lang="gv-IM"]::after { content: '🇮🇲' }
[lang="hr-HR"]::after { content: '🇭🇷' }
[lang="id-MY"]::after { content: '🇲🇾' }
[lang="is-IS"]::after { content: '🇮🇸' }
[lang="it-IT"]::after { content: '🇮🇹' }
[lang="ka-GE"]::after { content: '🇬🇪' }
[lang="km-KH"]::after { content: '🇰🇭' }
[lang="ko-KR"]::after { content: '🇰🇷' }
[lang="mi-NZ"]::after { content: '🇳🇿' }
[lang="ms-SG"]::after { content: '🇸🇬/🇲🇾' }
[lang="pt-PT"]::after { content: '🇵🇹' }
[lang="se-SE"]::after { content: '🇸🇪' }
[lang="ta-LK"]::after { content: '🇱🇰' }
[lang="ta-SG"]::after { content: '🇸🇬/🇮🇳' }
[lang="th-TH"]::after { content: '🇹🇭' }
[lang="vi-VN"]::after { content: '🇻🇳' }
[lang="zh-CN"]::after { content: '🇨🇳' }
[lang="zh-SG"]::after { content: '🇸🇬/🇨🇳' }
